{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
  <title>Language Translator</title>
</head>
<style>
  body {
    background-image: url("{% static 'image/10290108.jpg' %}");
    background-size: cover;
  }

  .card-bottom1 {
    display: none;
  }
</style>

<body>
  <div class="mode">
    <label class="toggle" for="dark-mode-btn">
      <div class="toggle-track">
        <input type="checkbox" class="toggle-checkbox" id="dark-mode-btn" />
        <span class="toggle-thumb"></span>
        <img src="{% static 'image/sun.png' %}" alt="" />
        <img src="{% static 'image/sun.png' %}" alt="" />
      </div>
    </label>
  </div>
  <div class="container">
    <div class="card input-wrapper">
      <!-- Input section -->
      <div class="from">
        <span class="heading">From :</span>
        <div class="dropdown-container" id="input-language">
          <div class="dropdown-toggle">
            <ion-icon name="globe-outline"></ion-icon>
            <span class="selected" data-value="auto">Auto Detect</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
          <ul class="dropdown-menu">
            <li class="option active">DropDown Menu Item 1</li>
            <li class="option">DropDown Menu Item 2</li>
          </ul>
        </div>
      </div>
      <div class="text-area">
        <div class="input-chars-container">
          <!-- Microphone icon for input -->
          <div class="microphone-container">
            <ion-icon name="volume-high-outline" id="mic-input"></ion-icon>
          </div>
          <!-- Input character count -->
          <div class="chars"><span id="input-chars">0</span> / 5000</div>
        </div>
        <textarea id="input-text" cols="30" rows="10" placeholder="Enter your text here">{{ result_value }}</textarea>
      </div>
      <div class="card-bottom1">
        <p>Or choose your document!</p>
        <label for="upload-document">
          <span id="upload-title">Choose File</span>
          <ion-icon name="cloud-upload-outline"></ion-icon>
          <input type="file" id="upload-document" hidden />
        </label>
      </div>
    </div>

    <!-- Swap button -->
    <div class="center">
      <div class="swap-position">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </div>
    </div>

    <div class="card output-wrapper">
      <!-- Output section -->
      <div class="to">
        <span class="heading">To :</span>
        <div class="dropdown-container" id="output-language">
          <div class="dropdown-toggle">
            <ion-icon name="globe-outline"></ion-icon>
            <span class="selected" data-value="en">English</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
          <ul class="dropdown-menu">
            <li class="option active">DropDown Menu Item 1</li>
            <li class="option">DropDown Menu Item 2</li>
          </ul>
        </div>
      </div>
      <!-- Output text area with microphone -->
      <div class="text-area">
        <div class="output-chars-container">
          <!-- Microphone icon for output -->
          <div class="microphone-container">
            <ion-icon name="volume-high-outline" id="mic-output"></ion-icon>
          </div>
        </div>
        <textarea id="output-text" cols="30" rows="10" placeholder="Translated text will appear here"
          disabled></textarea>
      </div>
      <div class="card-bottom">
        <p>Download as a document!</p>
        <button id="download-btn">
          <span>Download</span>
          <ion-icon name="cloud-download-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="save-button-container">
    <button id="save-btn">
      <span>Save</span>
      <ion-icon name="save-outline"></ion-icon>
    </button>
    <a href="{% url 'vps' %}">
      <button id="back-btn">
          <span>Back</span>
          <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
  </a>
  </div>

  <script src="{% static 'js/languages.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

  <script>
    // Get the mic icons and text areas
    const micInput = document.getElementById('mic-input');
    const micOutput = document.getElementById('mic-output');
    const inputTextArea = document.getElementById('input-text');
    const outputTextArea = document.getElementById('output-text');

    // Function to convert text to speech for input
    function speakInputText() {
      const text = inputTextArea.value;
      const inputLanguage = inputLanguageDropdown.querySelector(".selected").dataset.value;
      if ('speechSynthesis' in window) {
        const msg = new SpeechSynthesisUtterance(text);
        msg.lang = inputLanguage;
        window.speechSynthesis.speak(msg);
      } else {
        alert('Text-to-speech is not supported in your browser.');
      }
    }

    // Function to convert text to speech for output
    function speakOutputText() {
      const text = outputTextArea.value;
      const outputLanguage = outputLanguageDropdown.querySelector(".selected").dataset.value;
      if ('speechSynthesis' in window) {
        const msg = new SpeechSynthesisUtterance(text);
        msg.lang = outputLanguage;
        window.speechSynthesis.speak(msg);
      } else {
        alert('Text-to-speech is not supported in your browser.');
      }
    }

    // Add click event listeners to mic icons
    micInput.addEventListener('click', speakInputText);
    micOutput.addEventListener('click', speakOutputText);
  </script>

  <form id="save-form" method="post" class="hello1">
    {% csrf_token %}
    <input type="hidden" name="output_text" id="output-text-hidden">
    <input type="hidden" name="input_text" id="input-text-hidden">
    <input type="hidden" name="input_text1" id="input-hidden">
    <input type="hidden" name="output_text1" id="output-hidden">
  </form>

  <!-- Your existing JavaScript code -->
  <script>
    // Function to get the selected value from dropdown menu
    function getSelectedValue(dropdownMenu) {
      return dropdownMenu.querySelector('.selected').textContent;
    }

    // Get the dropdown menus
    const inputDropdownMenu = document.getElementById('input-language');
    const outputDropdownMenu = document.getElementById('output-language');

    // Variable to store selected values
    let selectedInputValue;
    let selectedOutputValue;

    // Add event listener to input dropdown menu
    inputDropdownMenu.addEventListener('click', function (event) {
      // Check if the clicked element is an option
      if (event.target.classList.contains('option')) {
        // Get the selected option's value
        selectedInputValue = getSelectedValue(inputDropdownMenu);
      }
    });

    // Add event listener to output dropdown menu
    outputDropdownMenu.addEventListener('click', function (event) {
      // Check if the clicked element is an option
      if (event.target.classList.contains('option')) {
        // Get the selected option's value
        selectedOutputValue = getSelectedValue(outputDropdownMenu);
      }
    });

  </script>
  <script>
    const saveButton = document.getElementById('save-btn');
    saveButton.addEventListener('click', function () {
      const outputText = outputTextArea.value;
      const inputText = inputTextArea.value;
      document.getElementById('output-text-hidden').value = selectedInputValue;
      document.getElementById('input-text-hidden').value = selectedOutputValue;
      document.getElementById('output-hidden').value = outputText;
      document.getElementById('input-hidden').value = inputText;
      document.getElementById('save-form').submit();
    });
  </script>
</body>

</html>